- name: Install shell, terminals and multiplexers
  ansible.builtin.apt:
    pkg:
      - zsh
      - kitty
      - rxvt-unicode
      - tmux
      - screen
      - bash-completion
    state: present

- name: Install command-line tools
  ansible.builtin.apt:
    pkg:
      - ack
      - apt-file
      - apt-listchanges
      - autossh
      - cronic
      - direnv
      - dosfstools
      - enca
      - gdu
      - gworldclock
      - htop
      - jq
      - lsof
      - mailcap
      - man-db
      - mc
      - metar
      - ncal
      - needrestart
      - pass
      - pdftk-java
      - qpdf
      - qpdf-doc
      - pmount
      - postgresql-client
      - psmisc
      - px
      - ripgrep
      - secure-delete
      - sm
      - sqlite3
      - tlp
      - unzip
      - zip
    state: present

- name: Install version control tools
  ansible.builtin.apt:
    pkg:
      - git
      - vcsh
      - myrepos
    state: present

- name: Install mail and chat utils
  ansible.builtin.apt:
    pkg:
      - abook
      - neomutt
      - mutt
      - isync
      - notmuch
      - notmuch-mutt
      - profanity
      - bsd-mailx
      - mblaze
      - w3m
    state: present
