- name: Add signal apt key
  ansible.builtin.copy:
    src: signal-desktop-keyring.gpg
    dest: /usr/share/keyrings/signal-desktop-keyring.gpg
    mode: '0644'
    owner: root
    group: root
  tags: signal

- name: Add signal apt repo
  ansible.builtin.apt_repository:
    repo: >
      Types: deb
      URIs: https://updates.signal.org/desktop/apt/
      Suites: xenial
      Components: main
      Signed-By: /usr/share/keyrings/signal-desktop-keyring.gpg
  tags: signal

- name: Pin signal packages
  ansible.builtin.copy:
    src: signal-apt-pin
    dest: /etc/apt/preferences.d/signal-apt-pin
    mode: '0644'
    owner: root
    group: root
  tags: signal

- name: Install signal and dependencies
  ansible.builtin.apt:
    name: signal-desktop-beta
  tags: signal
