- name: Create MAILTO env
  ansible.builtin.cron:
    name: MAILTO
    env: true
    job: "{{ crontab_email }}"
    user: domino
  tags:
    - cron

- name: Create BACKUPDIR env
  ansible.builtin.cron:
    name: BACKUPDIR
    env: true
    job: "{{ home_dir }}/syncthing/backup"
    user: domino
  tags:
    - cron

- name: Create SHELL env
  ansible.builtin.cron:
    name: SHELL
    env: true
    job: /bin/bash
    user: domino
  tags:
    - cron

- name: Create DISPLAY env
  ansible.builtin.cron:
    name: DISPLAY
    env: true
    job: :0.0
    user: domino
  tags:
    - cron

- name: Create DBUS_SESSION_BUS_ADDRESS env
  ansible.builtin.cron:
    name: DBUS_SESSION_BUS_ADDRESS
    env: true
    job: unix:path=/run/user/1000/bus
    user: domino
  tags:
    - cron

- name: Create a crontab to backup tuptime db
  ansible.builtin.cron:
    name: "tuptime db backup task"
    special_time: "reboot"
    job: "cp /var/lib/tuptime/tuptime.db $BACKUPDIR/tuptime_$(hostname).db"
    user: domino
  tags:
    - cron

- name: Create a crontab to /etc/hosts
  ansible.builtin.cron:
    name: "hosts backup task"
    special_time: "reboot"
    job: "cp /etc/hosts $BACKUPDIR/hosts_$(hostname)"
    user: domino
  tags:
    - cron

- name: Create a crontab to backup battery capacity
  ansible.builtin.cron:
    name: "battery capacity backup task"
    special_time: "reboot"
    job: "~/syncthing/bin/backup_battery_capacity"
    user: domino
  tags:
    - cron

- name: Create a crontab to run batt notification script
  ansible.builtin.cron:
    name: "battery low notification script"
    minute: "*/10"
    job: "cronic ~/syncthing/bin/batt-low-notify"
    user: domino
  tags:
    - cron
