// Sample polkit rules to allow root-equivalent users (sudo group members)
// to restart apt-cacher-ng without using sudo or authentication,
// similar in principle to the sudoers rule
//
//     %sudo ALL=(root) NOPASSWD: /bin/systemctl restart apt-cacher-ng.service
//
// but without needing to prefix the systemctl command with sudo.
//
// To use this file, copy it into /etc/polkit-1/rules.d/

// !!! ADDED BY ANSIBLE !!!

polkit.addRule(function(action, subject) {
    if (
        subject.isInGroup("sudo") &&
            ( action.id === "org.freedesktop.systemd1.manage-units" ||
              action.id === "org.freedesktop.systemd1.manage-unit-files" ||
              action.id === "org.freedesktop.machine1.manage-machines" ||
              action.id === "org.freedesktop.login1.reboot" ||
              action.id === "org.freedesktop.login1.suspend" ||
              action.id === "org.freedesktop.login1.hibernate" ||
              action.id === "org.freedesktop.login1.power-off" )) {
        return polkit.Result.YES;
    }
    return polkit.Result.NOT_HANDLED;
});

// vim:set ft=javascript:
