[Match]
Name={{ item }}

[Network]
Address={{ ip[hostvars['localhost'].ansible_hostname][item] }}/24
LLMNR=false
MulticastDNS=false
DNS={{ dns[item] }}
DNSSEC=allow-downgrade
#DNSDefaultRoute=no
Domains={{ domains[item] }}

[Link]
#ActivationPolicy=manual
Unmanaged={{ unmanaged[item] }}

