- name: Install wireguard
  ansible.builtin.apt:
    pkg:
      - wireguard
  tags: wireguard

- name: Template wireguard config
  ansible.builtin.template:
    src: interface.conf.j2
    dest: "/etc/wireguard/{{ item.key }}.conf"
    mode: '0600'
    owner: root
    group: root
  loop: "{{ lookup('dict', wireguard, wantlist=True) }}"
  tags: test

# TODO: move to a handler?
- name: Systemd reload wg-quick
  ansible.builtin.systemd_service:
    state: reloaded
    name: "wg-quick@{{ item.key }}"
  loop: "{{ lookup('dict', wireguard, wantlist=True) }}"
